/*
 * Copyright (c) 2021 Dan Thomas
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";

        input-gpios
            = <&pro_micro_a 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};
